.about-us {
	display: flex;
	-ms-flex-direction: row;
	-webkit-flex-direction: row;
	flex-direction: row;
  > {
    :first-child 
    {
      -ms-flex: 2;
      -webkit-flex: 2;
      flex: 2;
      -ms-align-self: center;
      -webkit-align-self: center;
      align-self: center;
      padding-right: 20px;
      text-align: right;
    }
    :last-child { 
      -ms-flex: 10;
      -webkit-flex: 10;
      flex: 10;
    }
  }
  ul {
    list-style: none;
    padding: 0;
  }
}    

@import 'members';
@import 'footer';